<button mat-fab color="" id="but" [routerLink]="['./form']">
  <mat-icon>add</mat-icon>
</button>
<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter" />
</mat-form-field>
<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let element">{{ element.date | date }}</td>
  </ng-container>

  <!-- <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>Id</th>
    <td mat-cell *matCellDef="let element">{{ element.id }}</td>
  </ng-container> -->
  <ng-container matColumnDef="employee">
    <th mat-header-cell *matHeaderCellDef>Pracowik</th>
    <td mat-cell *matCellDef="let element">
      {{ element.employee.name }} {{ element.employee.surname }}
    </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="usage">
    <th mat-header-cell *matHeaderCellDef>Zużycie produktów</th>
    <td mat-cell *matCellDef="let element">
      Farba: {{ element.dyeSum }} <br />
      Rozjaśniacz: {{ element.bleachSum }} <br />
      Woda: {{ element.waterSum }} <br />
      Olaplex: {{ element.olaplexSum }}
    </td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Akcje</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="delete(element)" class="delete">delete</mat-icon>
      <mat-icon [routerLink]="['./', element.id]" class="edit">edit</mat-icon>
    </td></ng-container
  >

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
