<button mat-raised-button color="primary" [routerLink]="['./form']">Dodaj zużycie produktów</button>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
  <ng-container matColumnDef="date">
    <th mat-header-cell *matHeaderCellDef>Data</th>
    <td mat-cell *matCellDef="let element">{{ element.date }}</td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="employee">
    <th mat-header-cell *matHeaderCellDef>Pracowik</th>
    <td mat-cell *matCellDef="let element" [routerLink]="['./', element.id]">{{ element.employee }}</td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="usage">
    <th mat-header-cell *matHeaderCellDef>Zużycie produktów</th>
    <td mat-cell *matCellDef="let element">{{ element.usage }}</td>
  </ng-container>
  <ng-container matColumnDef="action">
    <th mat-header-cell *matHeaderCellDef>Akcje</th>
    <td mat-cell *matCellDef="let element">
      <mat-icon (click)="delete(element)">delete</mat-icon>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
