<ul>
  <li>
    <a [routerLink]="['/employee/list']">
      Lista pracowników
    </a>
  </li>
  <li>
    <a [routerLink]="['/employee/add']">
      Dodaj pracownika
    </a></li>
</ul>
<hr>
<table>
  <thead>
    <tr>
      <td>Id</td>
      <td>Imie</td>
      <td>Nazwisko</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employeesList">
      <td>{{ employee.id }}</td>
      <td>{{ employee.name }}</td>
      <td>{{ employee.surname }}</td>
      <button class="button"></button>
    </tr>
  </tbody>
</table>
