<div class="body">

  <div class="menu">
    <mat-list role="list">
      <mat-list-item role="listitem" [routerLink]="['/employee']">Pracownicy</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" [routerLink]="['/dailyreport']">Raport dzienny</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" [routerLink]="['/usage']">Zużycie produktów
       
      </mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem" >Raport miesieczny</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem"  [routerLink]="['/products']">Produkty</mat-list-item>
      <mat-divider></mat-divider>
      <mat-list-item role="listitem">Wyloguj</mat-list-item>
    </mat-list>
  </div>
  <div class="content">

<div>
    <p>App module glowny component</p>
  </div>

  <router-outlet></router-outlet>
  </div>
</div>


