<mat-card>
    <mat-card-header>
        <mat-card-title *ngIf="id">Edytuj produkt</mat-card-title>
        <mat-card-title *ngIf="!id">Dodaj produkt</mat-card-title>
    </mat-card-header>
    <mat-card-content>
     <form>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Nazwa" name="name" [(ngModel)]="product.name">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Ilość" name="stock" type="number" [(ngModel)]="product.stock">
          </mat-form-field>
     </form>
    </mat-card-content>
    <mat-card-actions align="start">
        <button mat-button (click)="save()">Zapisz</button>
    </mat-card-actions>
</mat-card>
