<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="id">Edytuj zużycie produktów</mat-card-title>
    <mat-card-title *ngIf="!id">Dodaj zużycie produktów</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form [formGroup]='usage'>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Wybierz date" name="date" formControlName="date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field novalidate>
        <mat-label>Pracownicy</mat-label>
        <mat-select required name="employee" formControlName="employee">
          <mat-option *ngFor="let employee of employees" [value]="employee">
            {{employee.name}} {{employee.surname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <hr>
      <button mat-fab color="primary" (click)="add()">Dodaj</button>
      <div *ngIf="addNewLine" [formGroup]="usageTmp">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Rozjaśniacz" name="bleach" type="number" formControlName="bleach">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Farba" name="dye" type="number" formControlName="dye">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Olaplex" name="olaplex" type="number" formControlName="olaplex">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Woda" name="water" type="number" formControlName="water">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="saveLine()">Dodaj</button>
      </div>
      <p id=conf *ngIf="confirmed">
        Poprawnie dodano pracownika
      </p>
      <div>
        <!--        Tutaj zrob ladna tabelke-->


        <table>
          <thead>
            <tr>
              <td>Rozjaśniacz</td>
              <td>Farba</td>
              <td>Woda</td>
              <td>Olaplex</td>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let u of usage.value.usages; let i = index">
              <td>{{u.bleach}}</td>
              <td>{{u.dye}}</td>
              <td>{{u.water}}</td>
              <td>{{u.olaplex}}</td>
              <td> <button mat-raised-button color="primary" (click)="deleteU(i)">Usuń</button></td>

            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td>
                Suma rozjaśniacz: {{ sum('bleach') }}
              </td>
              <td>
                Suma farba: {{ sum('dye') }}
              </td>
              <td>
                Suma woda: {{ sum('water') }}
              </td>
              <td>
                Suma Olaplex: {{ sum('olaplex') }}
              </td>
            </tr>
          </tfoot>
        </table>

      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button [disabled]="!usage.valid" (click)="save()">Zapisz</button>
  </mat-card-actions>
</mat-card>
