Dodaj pracownika
<form #form="ngForm" novalidate>
  <mat-form-field class="example-full-width">
    <input matInput  #name="ngModel" type="text" placeholder="Imie" name="name"
     required [(ngModel)]="employee.name">
     <mat-error *ngIf="name.errors && (name.dirty || name.touched)">
      Imię jest <strong>wymagane</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="example-full-width">
    <input matInput #surname="ngModel" type="text" placeholder="Nazwisko" name="surname"
    required [(ngModel)]="employee.surname">
    <mat-error *ngIf="surname.errors && (surname.dirty || surname.touched)">
        Nazwisko jest <strong>wymagane</strong>
      </mat-error>
  </mat-form-field>
  <button [disabled]="form.invalid" mat-raised-button color="primary" (click)="save()">Zapisz</button>
</form>


<p id=conf *ngIf="confirmed">
  Poprawnie dodano pracownika
</p>

<!-- form validation:
  template items, "required", another div with ngIf, template whole form, disable button conditionally
 -->

