<mat-card>
  <mat-card-header>
    <mat-card-title *ngIf="id">Edytuj zużycie produktów</mat-card-title>
    <mat-card-title *ngIf="!id">Dodaj zużycie produktów</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form>
      <mat-form-field>
        <input matInput [matDatepicker]="picker1" placeholder="Wybierz date" name="date" [(ngModel)]="usage.date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <mat-label>Pracownicy</mat-label>
        <mat-select [(ngModel)]="usage.employee" name="employee">
          <mat-option *ngFor="let employee of employees" [value]="employee.id">
            {{employee.name}} {{employee.surname}}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <hr>
      <button mat-fab color="primary" (click)="add()">Dodaj</button>
      <div *ngIf="addNewLine">
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Rozjaśniacz" name="bleach" [(ngModel)]="usageTmp.bleach">
        </mat-form-field>
        <mat-form-field class="example-full-width">
          <input matInput placeholder="Farba" name="dye" [(ngModel)]="usageTmp.dye">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="saveLine()">Dodaj</button>
      </div>
      <div>
<!--        Tutaj zrob ladna tabelke-->
<table>
    <thead>
    <tr>
      <td>Woda</td>
      <td>Farbat</td>
      
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let u of usage.usages; let i = index">
      <td>{{u.bleach}}</td>
      <td>{{u.dye}}</td>
       <td> <button mat-raised-button color="primary" (click)="deleteU(i)">Usuń</button></td>

    </tr>
    </tbody>
    <tfoot>
      <tr>
        <td>
          Suma: {{ sumBleach() }}
        </td>
        <td>
          Suma farby: {{ sumDye() }}
        </td>
      </tr>
    </tfoot>
  </table>
    
      </div>
    </form>
  </mat-card-content>
  <mat-card-actions align="start">
    <button mat-button (click)="save()">Zapisz</button>
  </mat-card-actions>
</mat-card>

