
<div class="body">
    <mat-toolbar>
        <span>toolbar</span>
      </mat-toolbar>
 <mat-sidenav-container class="sidenav">
    <mat-sidenav class="menu-list" mode="side" opened>
        <mat-list role="list" class="list">
          <mat-list-item role="listitem" routerLinkActive="active" aria-label="Button">
            <a matLine [routerLink]="['/app/employee']">Pracownicy</a>
          </mat-list-item>
        <mat-divider></mat-divider>
          <mat-list-item role="listitem" routerLinkActive="active" aria-label="Button">
            <a matLine [routerLink]="['/app/dailyreport']">Raport dzienny</a>
          </mat-list-item>
        <mat-divider></mat-divider>
          <mat-list-item role="listitem"  routerLinkActive="active" aria-label="Button">
            <a matLine [routerLink]="['/app/usage']">Zużycie produktów</a>
          </mat-list-item>
        <mat-divider></mat-divider>
          <mat-list-item role="listitem"  routerLinkActive="active" aria-label="Button">
            <a [routerLink]="['/app/monthlyreport']"> Raport miesieczny </a>
          </mat-list-item>
        <mat-divider></mat-divider>
          <mat-list-item role="listitem" routerLinkActive="active" aria-label="Button">
            <a [routerLink]="['/app/products']">Produkty na stanie</a> 
          </mat-list-item>
        <mat-divider></mat-divider>
          <mat-list-item role="listitem"  aria-label="Button">
            <a [routerLink]="['/login']">Wyloguj</a>
          </mat-list-item>
      </mat-list>
    </mat-sidenav>
  <mat-sidenav-content>
      <div class="content">
      </div>
      <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
