.body {
  width: 100%;
}
.menu-list {
  background: rgba(0, 0, 0, 0.2);
}
.content {
  width: 75%;
  float: right;
}
.sidenav {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
}
.logout {
  position: absolute;
  right: 10%;
}
.listitem {
  font-size: 13px;
  flex: 1 1 auto;
}

a {
  text-decoration: none;
  color: black;
}
